.gallery{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      &__item{
            position: relative;
            overflow: hidden;
            &:hover &-caption{
                  -webkit-transform: translateY(0);
                          transform: translateY(0);
            }
            &-box{
                  padding-left: 1rem;
                  @include centeritem;
                  -webkit-box-pack: start;
                      -ms-flex-pack: start;
                          justify-content: flex-start;
            }
            &-loction{
                 @include centeritem;
                 .btn-inline{
                       color: var(--primary-light);
                 }
            }
      }
      &__img{
            display: block;
            width: 100%;
            height: 100%;
      }
      &__item-caption{
            position: absolute;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            background: $img-bg;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: .8rem 1.5rem;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-transform: translateY(100%);
                    transform: translateY(100%);
            -webkit-transition: all .4s;
            transition: all .4s;
      }
      &__item-title{
            font-size: 1.1rem;
            text-transform: uppercase;
            color: #fff;
      }
      &__item-box{
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
      }
      &__item-box-icon{
            width: 1.2rem;
            height: 1.2rem;
            fill: var(--primary-light);
      }
}

//  hotel main over viwe heading 
.hotel-viwe__heading{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: var(--line);
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      &-text{
            h3{
                  font-size: 2.5rem;
                  text-transform: uppercase;
                  font-weight: 300;
                  padding: 1.5rem 3rem;
                  letter-spacing: 1px;
                  @media only screen and (max-width:$bp-sm){
                        font-size: 1.7rem;
                  }
            }
      }
      &-rating{
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
      }
      &-icon{
            width: 1.9rem;
            height: 1.9rem;
            fill: var(--primary-light);
            @media only screen and (max-width:$bp-sm){
                  width: 1.5rem;
                  height: 1.5rem;
            }
      }
      &-location{
            @include centeritem;
            font-size: 1.1rem;
            @media only screen and (max-width:$bp-sm){
                font-size: 1rem;
            }
      }
      &-votes{
            background: var(--primary-color);
            color: var(--gray-light-1);
            -ms-flex-item-align: stretch;
                align-self: stretch;
            margin-left: 2.5rem;
            padding: 0 1.5rem;
            @include centeritem;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            text-align: center;
            span:first-child{
                  font-size: 2.5rem;
                  display: inline-block;
                  margin-bottom: -4px;
                  @media only screen and (max-width:$bp-sm){
                        font-size: 1.75rem;
                  }
                   @media only screen and (max-width:$bp-mb){
                        font-size: 1.5rem;
                  }
            }
            span:last-child{
                  margin-top: .3rem;
                    font-size: 1.2rem;
                     @media only screen and (max-width:$bp-sm){
                        font-size: 1.1rem;
                  }
                  @media only screen and (max-width:$bp-mb){
                       font-size: .8rem;
                  }
            }
      }
}
.hotel__reviwes{
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
}
.user__reviwes{
      background: #fff;
      -webkit-box-shadow: var(--box-shadow-light);
              box-shadow: var(--box-shadow-light);
      padding: 3rem;
      margin-bottom: 3.5rem;
      @media only screen and (max-width:$bp-lgst){
             padding: 2rem;
            margin-bottom: 2.5rem;
     }
      &-text{
            margin-bottom: 2rem;
            font-style: italic;
      }
      &-user{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
      }
      &-img{
            width: 5rem;
            height: 5rem;
            display: inline-block;
            border-radius: 50%;
      }
      &-box{
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            padding-left: 1rem;
      }
      &-name{
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: .4rem;
      }
      &-date{
              font-size: 1.1rem;
              color: var(--grey-dark-3);
      }
      &-rating{
             font-size: 2.2rem;
             color: var(--primary-color);
             font-weight: 300;
      }
      
}
//call to action button
.cta{
      &__section{
            padding: 3.5rem 0;
            text-align: center;
            text-transform: uppercase;
            @media only screen and (max-width:$bp-lgst){
                  padding: 2.5rem 0;
            }
      }
      &__text{
            font-size: 2.5rem;
            font-weight: 300;
            margin-bottom: 2.25rem;
             @media only screen and (max-width:$bp-lgst){
                  margin-bottom: 1.75rem;
            }
            @media only screen and (max-width:$bp-mb){
                        font-size: 2rem;
                  }
      }
      &__btn{
            margin-bottom: 2.5rem;
            border: none;
            border-radius: 100px;
            background: -webkit-gradient(linear, left top, right top, from(var(--primary-light)),to(var(--primary-dark)));
            background: linear-gradient(to  right, var(--primary-light),var(--primary-dark));
            color: #fff;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            @media only screen and (max-width:$bp-lgst){
                  margin-bottom: 2rem;
            }
            & > * {
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  -webkit-transition: all .2s;
                  transition: all .2s;
                  font-size: 1.6rem;
                  font-weight: 300;
                  text-transform: uppercase;
            }
            &-visiable{
                  padding: 2rem 7.5rem;
            @media only screen and (max-width:$bp-lgst){
                  padding: 1.7rem 5.5rem;
            }
            }
            &-invisiable{
                  position: absolute;
                  padding: 2rem 0;
                  top: -100%;
                  left: 0;
            @media only screen and (max-width:$bp-lgst){
                  padding: 1.75rem 0;
            }
            }
            &:hover{
                   background: -webkit-gradient(linear, right top, left top, from(var(--primary-light)),to(var(--primary-dark)));
                   background: linear-gradient(to  left, var(--primary-light),var(--primary-dark));
            }
            &:hover &-visiable{
                  -webkit-transform: translatey(100%);
                          transform: translatey(100%);
            }
            &:hover &-invisiable{
                  top: 0%;
            }
            &:focus{
                  outline: none;
                  -webkit-animation: btnAni 1s infinite;
                          animation: btnAni 1s infinite;
            }
      }
}
