// box shadow
$box-shadow-color: rgba(000,000,000,.3);
$img-bg: rgba(000,000,000,.9);

$bp-lgst :75em; // 1200px 1st brake point
$bp-lg : 68.75em; // 1100px 2nd brake point
$bp-md : 56.25em; // 900px 3nd brake point
$bp-sm :37.5em ; // 600px 4th brake point
$bp-mb :31.25em ; // 500px 4th brake point